<div class="row">
    <div class="col-7">
        <h2>Agregar una laboratorio a un examen médico</h2>
        <!--<form (ngSubmit)="f.form.valid &&  addFarmacia()" #f="ngForm" novalidate>-->
        <form name="laboratorio" (ngSubmit)= "f.form.valid && addLaboratorio()" #f="ngForm" novalidate>
            
            <div class="form-group">
                <label for="laboratorioId"><b>Identificador del laboratorio</b></label>
                <input type="number" name="laboratorioId" class="form-control" id="laboratorioId" [(ngModel)] = "laboratorio.id"
                       #laboratorioId="ngModel" [ngClass]="{'is-valid': f.submitted && laboratorioId.invalid }" required>
            </div>
            
            <div class=" row form-inline justify-content-center aliign-self-center">
                <button type="submit" class="btn btn-primary" >Agregar</button>   
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelAdd()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
