
<div class="col-md-12">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id: </th>
                <th>{{horarioAtencion.id}}</th>
            </tr>
            <tr>
                <th>Fecha de Inicio: </th>
                <td>{{horarioAtencion.fechaInicio}}</td>
            </tr>
            <tr>
                <th>Fecha de Fin: </th>
                <td>{{horarioAtencion.fechaFin}}</td>
            </tr>
            <tr>
                <th>Consultorio: </th>
                <td>
            <tr><label>Edificio: {{horarioAtencion.consultorio.edificio}} </label> </tr>
               </tr>

            <tr routerLink="/medicos/{{horarioAtencion.medico.idMedico}}" >
                <th >Medico:  </th>
                <td> {{horarioAtencion.medico.nombre}} </td>
            </tr>
           
        </table>
    </div>
</div>