

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear un Administrador</h2>
        <br>
        <form name="administrador" (ngSubmit)="f.form.valid && createAdministrador()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="administradorLogin"><b>Login</b></label>
                <input type="text" name="administradorLogin" class="form-control" id="administradorLogin" [(ngModel)]= administrador.login
                    #administradorLogin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && administrador.login.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el login</div>
                </div>
            </div>
            <div class="form-group">
                <label for="administradorPassword"><b>Password</b></label>
                <input name="administradorPassword" type = "password"  class="form-control" id="administradorPassword" [(ngModel)]= administrador.contrasena
                    #administradorPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && administrador.contrasena.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>Hace falta la contraseña del adminsitrador</div>
                </div>
            </div>
           
            <div class="form-group">
                <label for="administradorTipoUsuario"><b>Tipo de Usuario</b></label>
                <input name="administradorTipoUsuario" type = "text" class="form-control" id="administradorTipoUsuario" [(ngModel)]= administrador.tipoUsuario
                    #administradorTipoUsuario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && administrador.tipoUsuario.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el tipo de usuario</div>
                </div>
            </div>
                 
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>