<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 id = "texto"> Historia Clinica </h1> 
        <table class ="table">
            <button class="btn btn-primary text-center" (click)="volver()"><span class="fa fa-reply"></span>Volver</button>
            <tr>
                <th>Id</th>
                <th>{{historiaClinica.id}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>{{historiaClinica.fecha}}</th>
            </tr>
            <tr>
                <th>Descripcion</th>
                <th>{{historiaClinica.descripcionDiagnostico}}</th>
            </tr>
            <tr>
                <th>Alergias</th>
                <th>{{historiaClinica.alergias}}</th>
            </tr>
            <tr>
                <th>Peso</th>
                <th>{{historiaClinica.peso}}</th>
            </tr>
            <tr>
                <th>Estatura</th>
                <th>{{historiaClinica.estatura}}</th>
            </tr>
            <tr>
                <th>Fuma</th>
                <th>{{historiaClinica.fuma}}</th>
            </tr>
            <tr>
                <th>Bebe</th>
                <th>{{historiaClinica.bebe}}</th>
            </tr>
            <tr>
                <th>Operaciones</th>
                <th>{{historiaClinica.operaciones}}</th>
            </tr>
                <td>
                    <button class="btn btn-danger" (click)="deleteHistoriaClinica(historiaClinica.id)"><span class="fa fa-trash"></span></button>
                </td>
                <td >
                        <button type="button" class="btn btn-primary" routerLink="/historiasClinicas/{{historiaClinica.id}}/edit">Editar</button>         
                </td>
                <td>
                        <button type="button" class="btn btn-warning" routerLink="/ordenesMedicas/400">Ordenes Medicas</button>         
                </td>
        </table>

