<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 id = "texto"> Orden Medica </h1> 
        <table class ="table">
            <button class="btn btn-primary text-center" (click)="volver()"><span class="fa fa-reply"></span>Volver</button>
            <tr>
                <th>Id</th>
                <th>{{ordenMedica.id}}</th>
            </tr>
            <tr>
                <th>Fecha de expedicion</th>
                <th>{{ordenMedica.fechaExpedicion}}</th>
            </tr>
            <tr>
                <th>Comentarios</th>
                <th>{{ordenMedica.comentarios}}</th>
            </tr>
            <tr>
                <th>Valida hasta</th>
                <th>{{ordenMedica.validaHasta}}</th>
            </tr>
            <tr>
                <th>Firma Medico</th>
                <th>{{ordenMedica.firmaMedico}}</th>
            </tr>
                <td>
                    <button class="btn btn-danger" (click)="deleteOrdenMedica(ordenMedica.id)"><span class="fa fa-trash"></span></button>
                </td>
                <td >
                    <button type="button" class="btn btn-outline-info" routerLink="/ordenesMedicas/{{ordenMedica.id}}/edit">Editar</button>         
                </td>
        </table>

