  <div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let horarioAtencion of horariosAtencion"  >
                    <td routerLink="/horariosAtencion/{{horarioAtencion.id}}"><span id ="idHorarioAtencoon">{{horarioAtencion.id}}</span></td>
                    <td routerLink="/horariosAtencion/{{horarioAtencion.id}}">{{horarioAtencion.fechaInicio}}</td>
                    <td routerLink="/horariosAtencion/{{horarioAtencion.id}}">{{horarioAtencion.fechaFin}}</td>
                    <td >
                    <button class="btn btn-primary" routerLink= "/horariosAtencion/{{horarioAtencion.id}}/edit"><span class="fa fa-pencil"></span></button>
                </td>
                 <td>
                    <button class="btn btn-danger" (click)="deleteHorarioAtencion(horarioAtencion.id)"><span class="fa fa-trash"></span> Eliminar</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-success" routerLink="/horariosAtencion/add">Crear Horario de Atencion</button>
</div>
