<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre del laboratorio</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let labroatorio of laboratorios"
                        (click)="onSelected(medicamento.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{laboratorio.nombre}}</dd>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedLaboratorio">
                <app-laboratorio-detail [laboratorioDetail]="selectedLaboratorio"></app-laboratorio-detail>
            </div>
            
        </div>   
    </div>
</div>
