<!--<div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Descripción</th>
                    <th>Elaborado por</th>
                    <th>Costo</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let medicamento of medicamentos">
                    <td><span>{{medicamento.id}}</span></td>
                    <td>{{medicamento.nombre}}</td>
                    <td>{{medicamento.cantidad}}</td>
                    <td>{{medicamento.descripcion}}</td>
                    <td>{{medicamento.elaboradoPor}}</td>
                    <td>{{medicamento.costo}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<!--<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let medicamento of medicamentos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/medicamentos/{{medicamento.id}}">{{medicamento.nombre}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un medicamento</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre del medicamento</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let medicamento of medicamentos"
                        (click)="onSelected(medicamento.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{medicamento.nombre}}</dd>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedMedicamento">
                <app-medicamento-detail [medicamentoDetail]="selectedMedicamento"></app-medicamento-detail>
            </div>
            <div *ngIf="showCreate">
                <app-medicamento-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-medicamento-create>
            </div>
        </div>   
    </div>
</div>

