
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-success': !showCreate, 'btn-primary': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un medicamento</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre del medicamento</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let medicamento of medicamentos"
                        (click)="onSelected(medicamento.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{medicamento.nombre}}</dd>
                </td>
                <td >
                    <button class="btn btn-primary" (click)="showHideEdit(medicamento.id)"><span class="fa fa-pencil"></span></button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteMedicamento(medicamento.id)"><span class="fa fa-trash"></span></button>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedMedicamento">
                <app-medicamento-detail [medicamentoDetail]="selectedMedicamento"></app-medicamento-detail>
            </div>
            <div *ngIf="showCreate">
                <app-medicamento-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-medicamento-create>
            </div>
            <div *ngIf="showEdit">
                <app-medicamento-edit [medicamento_id]="medicamento_edit_id" (cancel)="showHideEdit(medicamento_edit_id)" (update)="updateMedicamento()"></app-medicamento-edit>
            </div>
        </div>   
    </div>
</div>

