<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 id = "texto"> Administrador</h1> 
        <table class ="table">
            <tr>
                <th>Login</th>
                <th>{{administrador.login}}</th>
            </tr>
            <tr>
                <th>Contraseña</th>
                <th>{{administrador.contrasena}}</th>
            </tr>
            <tr>
                <th>Tipo de Usuario</th>
                <th>{{administrador.tipoUsuario}}</th>
            </tr>
             <td>
                        <button class="btn btn-danger" (click)="deleteAdministrador(administrador.id)"><span class="fa fa-trash"></span></button>
             </td>
               
            <td >
                        <button class="btn btn-primary" routerLink="/administradores/update"><span class="fa fa-pencil"></span></button>
            </td>
        </table>
