<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="col-md-12">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id</th>
                <th>{{administrador.id}}</th>
            </tr>
            <tr>
                <th>Login</th>
                <th>{{administrador.login}}</th>
            </tr>
            <tr>
                <th>Password</th>
                <th>{{administrador.password}}</th>
            </tr>
            <tr>
                <th>Permiso</th>
                <th>{{administrador.permisos}}</th>
            </tr>
        </table>
    </div>
</div>
