<div class="col-md-12">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id</th>
                <th>{{factura.id}}</th>
            </tr>
            <tr>
                <th>Id del paciente</th>
                <th>{{factura.idCliente}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>{{factura.fecha}}</th>
            </tr>
            <tr>
                <th>Valor</th>
                <th>{{factura.valor}}</th>
            </tr>
             <tr>
                <th>Concepto</th>
                <th>{{factura.concepto}}</th>
            </tr>
             <tr>
                <th>Pagada</th>
                <th>{{factura.pagada}}</th>
            </tr>
        </table>
    </div>
</div>