<div class="col-md-14">
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>Numero</th>
                <th>{{tarjetaCredito.numero}}</th>
            </tr>
            <tr>
                <th>Nombre en la Tarjeta</th>
                <th>{{tarjetaCredito.nombreEnTarjeta}}</th>
            </tr>
            <tr>
                <th>Franquicia</th>
                <th>{{tarjetaCredito.franquicia}}</th>
            </tr>
            <tr>
                <th>Fecha Expiracion</th>
                <th>{{tarjetaCredito.fechaExpiracion}}</th>
            </tr>
            <tr>
                <th>Codigo Seguridad</th>
                <th>{{tarjetaCredito.codigoSeguridad}}</th>
            </tr>
        </table>
    </div>
</div>
