<h1 id = "texto"> Farmacia: {{farmaciaDetail.nombre}}</h1> 
            <table class ="table">
                   <thead class ="thead-dark">
                    <tr>
                        <th>Ubicacion</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                    </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>{{farmaciaDetail.ubicacion}}</td>
                           <td>{{farmaciaDetail.telefono}}</td>
                           <td>{{farmaciaDetail.correo}}</td>
                           <td>{{farmaciaDetail.latitud}}</td>
                           <td>{{farmaciaDetail.longitud}}</td>

                       </tr>
            </tbody>
            </table>
                      
