<div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Identificacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let paciente of pacientes">
                    <td><span>{{paciente.id}}</span></td>
                    <td>{{paciente.nombre}}</td>
                    <td>{{paciente.documentoIdentidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
