
  <div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Edificio</th>
                    <th>Numero de Oficina</th>
                    <th>Especialidad</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consultorio of sedeConsultorios" 
                    >
                    <td   routerLink="/sedes/{{sede.id}}/consultorios/{{consultorio.id}}"><span id ="idConsultorio">{{consultorio.id}}</span></td>
                    <td   routerLink="/sedes/{{sede.id}}/consultorios/{{consultorio.id}}">{{consultorio.edificio}}</td>
                    <td routerLink="/sedes/{{sede.id}}/consultorios/{{consultorio.id}}">{{consultorio.NOficina}}</td>
                    <td routerLink="/sedes/{{sede.id}}/consultorios/{{consultorio.id}}">{{consultorio.especialidad.nombre}}</td>
                    <td >
                    <button class="btn btn-primary" routerLink= "/sedes/{{sede.id}}/consultorios/update/{{consultorio.id}}"><span class="fa fa-pencil"></span></button>
                </td>
                <td >
                    <button class="btn btn-danger" (click)="deleteConsultorio(consultorio.id)"><span class="fa fa-trash"></span> </button>
                </td>
                    
                </tr>
                 
            </tbody>
        </table>
    </div>
</div>