
  <div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Edificio</th>
                    <th>Numero de Oficina</th>
                    <th>Especialidad</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consultorio of sedeConsultorios" >
                    <td><span id ="idConsultorio">{{consultorio.id}}</span></td>
                    <td>{{consultorio.edificio}}</td>
                    <td>{{consultorio.nOficina}}</td>
                    <td>{{consultorio.especialidad.nombre}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-success" routerLink="/sedes/400/consultorios/add">Crear Consultorio (todavia no sirvo)</button>
</div>