<div class="col-md-12">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id</th>
                <th>{{citalaboratorio.id}}</th>
            </tr>
            <tr>
                <th>Especialidad</th>
                <th>{{citalaboratorio.especialidad}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>{{citalaboratorio.fecha}}</th>
            </tr>
            <tr>
                <th>Comentarios</th>
                <th>{{citalaboratorio.comentarios}}</th>
            </tr>
             <tr>
                <th>Recomendaciones</th>
                <th>{{citalaboratorio.recomendaciones}}</th>
            </tr>
             <tr>
                <th>Id Paciente</th>
                <th>{{citalaboratorio.idPaciente}}</th>
            </tr>
            <tr>
                <th>Id Laboratorio</th>
                <th>{{citalaboratorio.idLaboratorio}}</th>
            </tr>
        </table>
    </div>
</div>