<div class="col-md-12">
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>Cita id</th>
                <th>{{citaLaboratorio.id}}</th>
            </tr>
            <tr>
                <th>Especialidad</th>
                <th>{{citaLaboratorio.especialidad}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>{{citaLaboratorio.fecha}}</th>
            </tr>
            <tr>
                <th>Comentarios</th>
                <th>{{citaLaboratorio.comentarios}}</th>
            </tr>
             <tr>
                <th>Recomendaciones</th>
                <th>{{citaLaboratorio.recomendaciones}}</th>
            </tr>
            <tr>
                <th>Nombre laboratorio</th>
                <th>{{laboratorio.nombre}}</th>
            </tr>
            <tr>
                <th>Direccion laboratorio</th>
                <th>{{laboratorio.direccion}}</th>
            </tr>
            <td>
       
        <button type="button" class="btn btn-primary" routerLink="/citalaboratorio/{{citaLaboratorio.id}}/update"><span class="fa fa-pencil"></span></button>
        <button type="button" class="btn btn-primary" routerLink="/laboratorios/{{laboratorio.id}}">Ver laboratorio</button> 
        <button class="btn btn-danger" (click)="deleteCitaLaboratorio(citaLaboratorio.id)" ><span class="fa fa-trash"></span></button>
            </td>
        </table>
    </div>
</div>
