
<div class="col-md-12">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id</th>
                <th>{{sede.id}}</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>{{sede.nombre}}</th>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>{{sede.direccion}}</th>
            </tr>
            <tr>
                <th>Tipo de Sede</th>
                <th>{{sede.tipoSede}}</th>
            </tr>
             <tr>
                <th>Descripcion</th>
                <th>{{sede.descripcion}}</th>
            </tr>
             <tr>
                <th>Longitud</th>
                <th>{{sede.longitud}}</th>
            </tr>
            <tr>
                <th>Latitud</th>
                <th>{{sede.latitud}}</th>
            </tr>
            <tr>
                <th>Telefono</th>
                <th>{{sede.telefono}}</th>
            </tr>
            <tr>
                <th>Correo</th>
                <th>{{sede.correo}}</th>
            </tr>
        </table>
    </div>
</div>
