
<div class="panel panel-default"> 
    <div>
        <div class="border margin">
            <p class="h3 p-3">{{sedeDetail.nombre}}</p> 
            <div class="row">
                <div class="col-md-4">
                    <div class="thumb">
                        <img class="img-fluid" src="{{sedeDetail.image}}"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <dl>  
                        <hr>
                        <dt> Tipo de Sede</dt>
                        <dd>{{sedeDetail.tipoSede}}</dd>
                        <hr>
                        <dt> Direccion</dt>
                        <dd>{{sedeDetail.direccion}}</dd>
                        <hr>
                        <dt> Telefono</dt>
                        <dd>{{sedeDetail.telefono}}</dd>
                        <hr>
                        <dt> Correo</dt>
                        <dd>{{sedeDetail.correo}}</dd>
                        <hr>                                                                        
                        <dt> Descripcion</dt>
                        <dd>{{sedeDetail.descripcion}}</dd>
                        
                        
                        
                    </dl>
                    <div >
                        <div class="row">
                            <div class="col-md-3">

                             <button [ngClass]="{ 'btn-success': !showConsultorios, 'btn-primary': showConsultorios }" type="button" class="btn"
                    (click)="showHideConsultorios()">Consultorios</button>   
                            </div>
                            
                            
                        </div>
                    </div>
                    <div *ngIf="showConsultorios">
                <app-sede-consultorio [sedeConsultorios]="sedeDetail.consultorios"></app-sede-consultorio>
                        </div>

            </div>
        </div>
    </div>
</div>
            </div>
