<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Create an farmacia</h2>
        <br>
        <form name="farmacia" (ngSubmit)="f.form.valid && createFarmacia()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="farmaciaName"><b>Name</b></label>
                <input type="text" name="farmaciaName" class="form-control" id="farmaciaName" [(ngModel)]="farmacia.name"
                    #farmaciaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && farmaciaName.invalid }" required>
                <div class="invalid-feedback">
                    <div>The farmacia's name is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>