<div style="text-align: center">
    <div class="container-fluid">
        <div class="col-md-4">
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Franquicia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarjetaCredito of tarjetasCredito" routerLink="/tarjetascredito/{{tarjetaCredito.numero}}" style="cursor: pointer;">
                        <th>{{tarjetaCredito.numero}}</th>
                        <th>{{tarjetaCredito.franquicia}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
