<ul class="nav nav-tabs">
    <li class="nav nav-item">
        <a class="nav-link" routerLink="/"> Home </a>
    </li>
    <li>
        <a class="nav-link" routerLink="/pacientes/list"> Pacientes </a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/medicamentos/list"> Medicamentos </a> </li>
    <li>
        <a routerLink="/medicos/list"> Medico </a>
    </li>
    <li>
        <a routerLink="/administradores/list"> Administradores </a>   
    </li>
    <li>
        <a routerLink="/historiasClinicas/list"> Historias Clinicas </a>   
    </li>
    <li>
        <a routerLink="/ordenesMedicas/list"> Ordenes Medicas </a>   
    </li>
    <li>

        <a class ="nav-link" routerLink="/sedes/list"> Sedes </a>


    </li>
    <li>

        <a class ="nav-link" routerLink="/horariosAtencion/list"> Horarios de Atencion </a>


    </li>

<li>

        <a routerLink="/laboratorios/list"> Laboratorios</a>


    </li>
        

</ul>

<div class="list">
    <router-outlet></router-outlet>
</div>
