<ul class="nav nav-tabs">
    <li class="nav nav-item">
        <a class="nav-link" routerLink="/"> Home </a>
    </li>
    <li class=""nav nav-item>
        <a class="nav-link" routerLink="/pacientes/list"> Pacientes </a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/medicamentos/list"> Medicamentos </a> 
    </li>
        
    <li>
        <a class ="nav-link" routerLink="/farmacias/list"> Farmacias </a> 
    </li>
    
    
        <li>
        <a class ="nav-link" routerLink="/examenesMedicos/list"> Examenes Medicos</a> </li>
    <li>
        <a class ="nav-link" routerLink="/medicos/list"> Medico </a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/especialidades/list"> Especialidad </a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/citasMedicas/list"> Cita Médica </a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/administradores/list"> Administradores </a>   
    </li>
    <li>

        <a class ="nav-link" routerLink="/sedes/list"> Sedes </a>


    </li>
    <li>

        <a class ="nav-link" routerLink="/horariosAtencion/list"> Horarios de Atencion </a>
    </li>


        <li>

        <a class ="nav-link" routerLink="/historiasClinicas/list"> Historias Clinicas </a>   
    </li>
    <li>
        <a class ="nav-link" routerLink="/ordenesMedicas/list"> Ordenes Medicas </a>   
    </li>
    <li>
        <a class ="nav-link" routerLink="/sedes/list"> Sedes </a>

    </li>
<li>
        <a class ="nav-link" routerLink="/laboratorios/list"> Laboratorios</a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/citalaboratorio/list"> Citas Laboratorio</a>
    </li>
    <li>
        <a class ="nav-link" routerLink="/facturas/list"> Facturas</a>
    </li>
    <li>
        <a class="nav-link" routerLink="/tarjetascredito/list"> Tarjetas de Credito</a>
    </li>
</ul>

<div class="list">
    <router-outlet></router-outlet>
</div>
