h3{
    color: black;
    font-family: 'Roboto', sans-serif;
}

p{
    color: black;
     font-family: 'Roboto', sans-serif;
}
.carousel-inner img {
  margin: auto;
}

#sel
{
/*    font-family: 'Roboto', sans-serif;*/
    color : white;
    font-size: 1.3em;
}

#segundo{
    color: white;
        font-size: 1.3em;

}

#segundodos{
    color: white;
}
#sel:hover { 
    background-color: white;
    color: blue;
}
#segundo:hover { 
    background-color: white;
    color: blue;
}