h3{
    color: black;
    font-family: 'Roboto', sans-serif;
}

p{
    color: black;
     font-family: 'Roboto', sans-serif;
}
.carousel-inner img {
  margin: auto;
}

#segundo{
    color: white;
}