
  <div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Tipo de Sede</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let sede of sedes" routerLink="/sedes/{{sede.id}}" >
                    <td><span id ="idSede">{{sede.id}}</span></td>
                    <td>{{sede.nombre}}</td>
                    <td>{{sede.direccion}}</td>
                    <td>{{sede.tipoSede}}</td>
                     <td>
                    <button class="btn btn-primary" (click)="showHideEdit(sede.id)"><span class="fa fa-pencil"></span></button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-success" routerLink="/sedes/add">Crear Sede</button>
</div>

