<h1 id = "texto"> Medicamento: {{medicamentoDetail.nombre}}</h1> 
            <table class ="table">
                   <thead class ="thead-dark">
                    <tr>
                        <th>Descripción</th>
                        <th>Elaborado Por</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Farmacias</th>
                    </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>{{medicamentoDetail.descripcion}}</td>
                           <td>{{medicamentoDetail.elaboradoPor}}</td>
                           <td>{{medicamentoDetail.cantidad}}</td>
                           <td>{{medicamentoDetail.costo}}</td>
                           <td>
                        <div *ngFor = "let farmacia of medicamentoDetail.farmacias">
                            <dd class="caption" routerLink="/medicamentos/{{medicamentoDetail.id}}">{{farmacia.nombre}}</dd>
                        </div>
                           </td>
                       </tr>
            </tbody>
            </table>

