<div class="panel panel-default"> 
    <div>
        <div class="border margin">
            <p class="h3 p-3">{{medicamentoDetail.name}}</p> 
            <div class="row">
               
                <div class="col-md-3">
                    <dl>  
                        <dt> Descripción</dt>
                        <dd>{{medicamentoDetail.descripcion}}</dd>
                        <dt>Elaborado Por</dt>
                        <dd>{{medicamentoDetail.elaboradoPor}}</dd>
                        
                        <dt class="bold">Costo</dt>
                        <dd>{{medicamentoDetail.costo}}</dd>
                    </dl>
                 
                </div>
            </div>
        </div>
    </div>
    
</div>
