<div class="col-md-3">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id</th>
                <th>{{medico.idMedico}}</th>
            </tr>
            <tr>
                <th>Login</th>
                <th>{{medico.login}}</th>
            </tr>
            <tr>
                <th>Numero de Identificacion</th>
                <th>{{medico.documentoIdentidad}}</th>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-3">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Tipo Usuario</th>
                <th>{{medico.tipoUsuario}}</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>{{medico.nombre}}</th>
            </tr>
            <tr>
                <th>Telefono</th>
                <th>{{medico.telefono}}</th>
            </tr>
            
        </table>
    </div>
</div>
<div class="col-md-3">
    <div class="container-fluid">
        <table>
            
            <tr>
                <th>Numero de documento medico</th>
                <th>{{medico.documentoMedico}}</th>
            </tr>
            <tr>
                <th>Firma</th>
                <th>{{paciente.firma}}</th>
            </tr>
            <tr>
                <th>Descripcion</th>
                <th>{{paciente.descripcion}}</th>
            </tr>
        </table>
    </div>
</div>
