<div class="col-md-12">
    <div class="container-fluid">
        <table>
            <tr>
                <th>Id</th>
                <th>{{laboratorio.id}}</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>{{laboratorio.nombre}}</th>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>{{laboratorio.direccion}}</th>
            </tr>
            <tr>
                <th>Telefono</th>
                <th>{{laboratorio.telefono}}</th>
            </tr>
             <tr>
                <th>Horario de atencion</th>
                <th>{{laboratorio.horarioAtencion}}</th>
            </tr>
             <tr>
                <th>latitud</th>
                <th>{{laboratorio.latitud}}</th>
            </tr>
            <tr>
                <th>longitud</th>
                <th>{{laboratorio.longitud}}</th>
            </tr>
        </table>
    </div>
</div>