<h1 id = "texto"> Laboratorio: {{laboratorioDetail.nombre}}</h1> 
            <table class ="table">
                   <thead class ="thead-dark">
                    <tr>
                        <th>Horario de Atencion</th>
                        <th>telefono</th>
                        <th>Direccion</th>
                        <th></th>
                    </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>{{laboratorio.horarioDeAtencion}}</td>
                           <td>{{laboratorio.telefono}}</td>
                           <td>{{laboratorio.direccion}</td>
                           
                       </tr>
            </tbody>
            </table>