<h1 id = "texto"> Laboratorio{{laboratorioDetail.nombre}}</h1> 
            <table class ="table">
                   <thead class ="thead-dark">
                    <tr>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Horario de atencion</th>
                        <th>Longitud</th>
                        <th>Latitud</th>
                    </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>{{laboratorioDetail.telefono}}</td>
                           <td>{{laboratorioDetail.direccion}}</td>
                           <td>{{laboratorioDetail.horarioDeAtencion}}</td>
                           <td>{{laboratorioDetail.longitud}}</td>
                           <td>{{laboratorioDetail.latitud}}</td>
                       </tr>
            </tbody>
            </table>