<div class="col-md-12">
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>{{paciente.id}}</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>{{paciente.nombre}}</th>
            </tr>
            <tr>
                <th>Numero de Identificacion</th>
                <th>{{paciente.documentoIdentidad}}</th>
            </tr>
            <tr>
                <th>Usuario</th>
                <th>{{paciente.usuario}}</th>
            </tr>
            <tr>
                <th>Tipo Usuario</th>
                <th>{{paciente.tipoUsuario}}</th>
            </tr>
            <tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <th>{{paciente.fechaNacimiento}}</th>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>{{paciente.direccion}}</th>
            </tr>
            <tr>
                <th>Numero de Contacto</th>
                <th>{{paciente.numeroContacto}}</th>
            </tr>
            <tr>
                <th>Mail</th>
                <th>{{paciente.mail}}</th>
            </tr>
            <tr>
                <th>Eps</th>
                <th>{{paciente.eps}}</th>
            </tr>
        </table>
    </div>
</div>
