<div class="col-md-12">
    <div class="row">
            <div class="col-md-11">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>{{paciente.id}}</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>{{paciente.nombre}}</th>
            </tr>
            <tr>
                <th>Numero de Identificacion</th>
                <th>{{paciente.documentoIdentidad}}</th>
            </tr>
            <tr>
                <th>Usuario</th>
                <th>{{paciente.login}}</th>
            </tr>
            <tr>
                <th>Tipo Usuario</th>
                <th>{{paciente.tipoUsuario}}</th>
            </tr>
            <tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <th>{{paciente.fechaNacimiento}}</th>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>{{paciente.direccion}}</th>
            </tr>
            <tr>
                <th>Numero de Contacto</th>
                <th>{{paciente.numeroContacto}}</th>
            </tr>
            <tr>
                <th>Mail</th>
                <th>{{paciente.mail}}</th>
            </tr>
            <tr>
                <th>Eps</th>
                <th>{{paciente.eps}}</th>
            </tr>
        </table>
            </div>
            <div class="col-md-1">
        <ul class="nav flex-column nav-pills">
            <li>
                
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/pacientes/{{paciente.id}}/tarjetascredito"> Tarjetas Credito</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/pacientes/{{paciente.id}}/citaslaboratorio">Citas Laboratorio</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/pacientes/{{paciente.id}}/facturas">Facturas</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/pacientes/{{paciente.id}}/citasmedicas">Citas Medicas</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/pacientes/{{paciente.id}}/historiasclinicas">Historias Clinicas</a>
            </li>
        </ul>
           
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-info" routerLink="/pacientes/{{paciente.id}}/edit">Editar</button>
        <button type="button" class="btn btn-outline-danger" (click)="deletePaciente()">Eliminar</button>
    </div>
</div>
