<<div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let citalaboratorio of citas" routerLink="/citalaboratorio/{{citalaboratorio.id}}">
                    <td><span>{{citalaboratorio.id}}</span></td>
                    <td>{{citalaboratorio.especialidad}}</td>
              
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-success" routerLink="/citalaboratorio/create">Crear Cita Laboratorio</button>
</div>
