<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar Factura</h2>
        <br>
        <form name="factura" (ngSubmit)="f.form.valid && updateFactura()" #f="ngForm" novalidate>
             
              <div class="form-group">
                <label for="facturaPagada"><b>Pagado</b></label>
                <input type = "number" name="facturaPagada" class="form-control" id="facturaPagada" [(ngModel)]= factura.pagada
                    #facturaPagada="ngModel" [ngClass]="{ 'is-invalid': f.submitted && factura.pagada.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el estado</div>
                </div>
            </div>
              
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Editar</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>