<h1 id = "texto"> Examen Medico: {{examenDetail.nombre}}</h1> 
            <table class ="table">
                   <thead class ="thead-dark">
                    <tr>
                        <th>Costo</th>
                        <th>Recomendaciones</th>
                    </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>{{examenDetail.costo}}</td>
                           <td>{{examenDetail.recomendaciones}}</td>
                       </tr>
            </tbody>
            </table>
                      