<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center">
<!--                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create an editorial</button>-->
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Documento Médico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medico of medicos" routerLink="/medicos/{{medico.idMedico}}" style="cursor: pointer;">
                        <td>
                            {{medico.nombre}}
                        </td>
                        <td>
                            {{medico.telefono}}
                        </td>
                        <td>
                            {{medico.correo}}
                        </td>
                        <td>
                            {{medico.documentoMedico}}
                        </td>
                        <button class="btn btn-primary" (click)="showHideEdit(medico.id)"><span class="fa fa-pencil"></span></button>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
<!--            <div *ngIf="selectedMedico">
                <app-medico-detail [medicoDetail]="selectedMedico"></app-medico-detail>
            </div>
            <div *ngIf="showCreate">
                <app-medico-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-medico-create>
            </div>-->
        </div>
    </div>
    <button class="btn btn-success" routerLink="/medicos/create">Crear Medico</button>
</div>
