<div class="container-fluid row">
    <div class="col-md-4"></div>
<div class="col-md-8">
    <div class="container-fluid">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>{{citaMedica.idCitaMedica}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>{{citaMedica.fecha}}</th>
            </tr>
            <tr>
                <th>Comentarios</th>
                <th>{{citaMedica.comentarios}}</th>
          
<!--            <tr>
                <th>Paciente</th>
                <th>{{citaMedica.paciente.id}}</th>
            </tr>
            <tr>
                <th>Horario</th>
                <th>{{citaMedica.horario.id}}</th>
            </tr>-->
        </table>
    </div>
</div>
</div>
