<div class="container-fluid row">
    <div class="col-md-4"><div class="row justify-content-center align-self-center">
                            <button class="btn btn-primary text-center" routerLink="/citasMedicas/{{citaMedica.idCitaMedica}}/edit">Editar</button>
                            <button type="button" class="btn btn-outline-danger" (click)="deleteCitaMedica()">Eliminar</button>
                            <div class="divider"></div>
<!--                            <button class="btn btn-danger text-center" (click)="deleteSede()"><span class="fa fa-trash"></span></button>-->

                        </div></div>
<div class="col-md-8">
    <div class="container-fluid">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>{{citaMedica.idCitaMedica}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>{{citaMedica.fecha}}</th>
            </tr>
            <tr>
                <th>Comentarios</th>
                <th>{{citaMedica.comentarios}}</th>
            </tr>
            <tr>
            <div>
            <table><tr>
                
                <th>Paciente</th>
                <th>
                    <tr>
                        <th>Nombre</th>
                        <th>{{citaMedica.pacienteAAtender.nombre}}</th>
                    </tr>
                    <tr>
                        <th>Número de identificación</th>
                        <th>{{citaMedica.pacienteAAtender.documentoIdentidad}}</th>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <th>{{citaMedica.pacienteAAtender.numeroContacto}}</th>
                    </tr>
                </th>
            </tr>
            </table>
            </div>
            </tr>
            <tr>
                <div>
            <table><tr>
                <th>Médico</th>
                <th>
                    <tr>
                        <th>Nombre</th>
                        <th>{{citaMedica.horarioAtencionAsignado.medico.nombre}}</th>
                    </tr>
                    <tr>
                        <th>Especialidad</th>
                        <th>{{citaMedica.horarioAtencionAsignado.medico.especialidad.nombre}}</th>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <th>{{citaMedica.horarioAtencionAsignado.medico.telefono}}</th>
                    </tr>
                    <tr>
                        <th>Correo</th>
                        <th>{{citaMedica.horarioAtencionAsignado.medico.correo}}</th>
                    </tr>
                </th>
            </tr>
            </table>
            </div>    
            </tr>
            
        </table>
    </div>
</div>
</div>
