<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear un laboratorio</h2>
        <br>
        <form name="citaLaboratorio" (ngSubmit)="f.form.valid && createCitaLaboratorio()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="laboratorioNombre"><b>Nombre</b></label>
                <input type="text" name="laboratorioNombre" class="form-control" id="laboratorioNombre" [(ngModel)]="laboratorio.nombre"
                    #laboratorioNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioNombre.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el nombre del laboratorio</div>
                </div>
            </div>
            <div class="form-group">
                <label for="laboratorioDireccion"><b>Direccion</b></label>
                <input name="laboratorioDireccion" class="form-control" id="laboratorioDireccion" [(ngModel)]="laboratorio.direccion"
                    #laboratorioDireccion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioDireccion.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>Hace falta la direccion del laboratorio</div>
                </div>
            </div>
            <div class="form-group">
                <label for="laboratorioTelefono"><b>Telefono</b></label>
                <input type="text" name="laboratorioTelefono" class="form-control" id="laboratorioTelefono" [(ngModel)]="laboratorio.telefono"
                    #laboratorioTelefono="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioTelefono.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el telefono del laboratorio</div>
                </div>
            </div>
              
            <div class="form-group">
                <label for="laboratorioHorarioDeAtencion"><b>Horario de atencion</b></label>
                <input type="text" name="laboratorioHorarioDeAtencion" class="form-control" id="laboratorioHorarioDeAtencion" [(ngModel)]="laboratorio.horarioDeAtencion"
                    #laboratorioHorarioDeAtencion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioHorarioDeAtencion.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el horario de atencion del laboratorio</div>
                </div>
            </div>
              
              <div class="form-group">
                <label for="laboratorioLatitud"><b>Latitud</b></label>
                <input type="text" name="laboratorioLatitud" class="form-control" id="laboratorioLatitud" [(ngModel)]="laboratorio.latitud"
                    #laboratorioLatitud="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioLatitud.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta la latitud del laboratorio</div>
                </div>
            </div>
              
              <div class="form-group">
                <label for="laboratorioLongitud"><b>Longitud</b></label>
                <input type="text" name="laboratorioLongitud" class="form-control" id="laboratorioLongitud" [(ngModel)]="laboratorio.longitud"
                    #laboratorioLongitud="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioLongitud.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta la longitud del laboratorio</div>
                </div>
            </div>
              
            
              
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>


