<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear un laboratorio</h2>
        <br>
        <form name="citaLaboratorio" (ngSubmit)="f.form.valid && createCitaLaboratorio()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="citaLaboratorioFecha"><b>Fecha</b></label>
                <input type="text" name="citaLaboratorioFecha" class="form-control" id="citaLaboratorioFecha" [(ngModel)]="citaLaboratorio.fecha"
                    #citaLaboratorioFecha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLaboratorioFecha.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta la fecha de la cita</div>
                </div>
            </div>
            <div class="form-group">
                <label for="citaLaboratorioEspecialidad"><b>Especialidad</b></label>
                <input name="citaLaboratorioEspecialidad" class="form-control" id="citaLaboratorioEspecialidad" [(ngModel)]="citaLaboratorio.especialidad"
                    #citaLaboratorioEspecialidad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLaboratorioEspecialidad.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>Hace falta la especialidad de la cita</div>
                </div>
            </div>
            <div class="form-group">
                <label for="citaLaboratorioComentario"><b>Comentarios</b></label>
                <input type="text" name="citaLaboratorioComentario" class="form-control" id="citaLaboratorioComentario" [(ngModel)]="citaLaboratorio.comenentario"
                    #laboratorioTelefono="ngModel" [ngClass]="{ 'is-invalid': f.submitted && laboratorioTelefono.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el telefono del laboratorio</div>
                </div>
            </div>
              
            <div class="form-group">
                <label for="citaLaboratorioRecomendacion"><b>Recomendaciones</b></label>
                <input type="text" name="citaLaboratorioRecomendacion" class="form-control" id="citaLaboratorioRecomendacion" [(ngModel)]="citaLaboratorio.recomendacion"
                    #citaLaboratorioRecomendacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLaboratorioRecomendacion.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta las recomendaciones </div>
                </div>
            </div>
              
              <div class="form-group">
                    <label for="citaLaboratorioLaboratorios"><b>Laboratorios</b></label>
                    <select class="custom-select" name="citaLaboratorioLaboratorios" id="citaLaboratorio" [(ngModel)]="citaLaboratorio.laboratorio"
                        #citaLaboratorioLaboratorios="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLaboratorio.laboratorio.invalid }"
                        required>
                        <option [value]="laboratorio.id" *ngFor="let laboratorio of laboratorios">id: {{laboratorio.id}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>No existe el laboratorio</div>
                    </div>
                </div>
              
            
              
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>


