<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear una cita laboratorio</h2>
        <br>
        <form name="citaLab" (ngSubmit)="f.form.valid && createCitaLaboratorio()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="citaLabFecha"><b>Fecha</b></label>
                <input name="citaLabFecha" type="text" class="form-control" id="citaLabFecha" [(ngModel)]="citaLab.fecha"
                    #citaLabFecha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLab.fecha.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta la fecha de la cita</div>
                </div>
            </div>
            <div class="form-group">
                <label for="citaLabEspecialidad"><b>Especialidad</b></label>
                <input type= "text" name="citaLabEspecialidad" class="form-control" id="citaLabEspecialidad" [(ngModel)]="citaLab.especialidad"
                    #citaLabEspecialidad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLabEspecialidad.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>Hace falta la especialidad de la cita</div>
                </div>
            </div>
            <div class="form-group">
                <label for="citaLabComentario"><b>Comentarios</b></label>
                <input type="text" name="citaLabComentarios" class="form-control" id="citaLabComentarios" [(ngModel)]="citaLab.comentarios"
                    #citaLabComentarios="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLabComentarios.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hacen falta los comentarios</div>
                </div>
            </div>
              
            <div class="form-group">
                <label for="citaLabRecomendacion"><b>Recomendaciones (Alergia de cualquier tipo a medicamentos, etc...)</b></label>
                <input type="text" name="citaLabRecomendacion" class="form-control" id="citaLabRecomendacion" [(ngModel)]="citaLab.recomendaciones"
                    #citaLabRecomendacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLabRecomendacion.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hacen falta las recomendaciones </div>
                </div>
            </div>
              
              <div class="form-group">
                    <label for="citaLabLaboratorios"><b>Laboratorios</b></label>
                    <select class="custom-select" name="citaLabLaboratorios" id="citaLabLaboratorios" [(ngModel)]="citaLab.laboratorio"
                        #citaLabLaboratorios="ngModel" [ngClass]="{ 'is-invalid': f.submitted && citaLab.laboratorio.invalid }"
                        required>
                        <option [value]="laboratorio.nombre" *ngFor="let laboratorio of laboratorios">{{laboratorio.id}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>No existe el laboratorio</div>
                    </div>
                </div>
              
            
              
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>


