<div class="panel panel-default"> 
    <div>

        <div class="border margin">
            <button class="btn btn-primary text-center" (click)="volver()"><span class="fa fa-reply"></span>Volver</button>

            <div class="row">
                              

                
                <div class="col-md-8">
                    <dl>  
                        <hr>
                        <dt> Edificio</dt>
                        <dd>{{consultorioDetail.edificio}}</dd>
                        <hr>
                        <dt> Numero de Oficina</dt>
                        <dd>{{consultorioDetail.NOficina}}</dd>
                        <hr>
                         <dt> Especialidad</dt>
                        <dd>{{consultorioDetail.especialidad.nombre}}</dd>                                     
                        
                        
                        
                    </dl>
                

            </div>
        </div>
    </div>
</div>
            </div>
