<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <h1> Ordenes Medicas </h1> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Comentarios</th>
                    <th>Fecha de expedicion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let ordenMedica of ordenesMedicas" routerLink="/ordenesMedicas/{{ordenMedica.id}}">
                    <td><span>{{ordenMedica.id}}</span></td>
                    <td>{{ordenMedica.comentarios}}</td>
                    <td >{{ordenMedica.fechaExpedicion}}</td>
                </tr>

            </tbody>
        </table>
    </div>
        <button class="btn btn-success" routerLink="/ordenesMedicas/create">Crear Orden Medica</button>
</div>