<div class="row">
    <div class="col-6">
        <h2>Crear Un Medico</h2>
        <form name="medico" (ngSubmit)="f.form.valid && createMedico()" #f="ngForm" novalidate>
            
            <div class="form-group">
                <label for="Login"><b>Usuario</b></label>
                <input type="text" name="medicoLogin" class="form-control" id="medicoLogin" [(ngModel)] = medico.login
                       #medicoLogin="ngModel" [ngClass]="{'is-valid': f.submitted && medico.login.invalid}" required>     
            </div>
               
            <div class="form-group">
                <label for="contrasena"><b>Constrseña</b></label>
                <input type="text" name="medicoContrasena" class="form-control" id="medicoContrasena" [(ngModel)] = medico.contrasena
                       #medicoContrasena="ngModel" [ngClass]="{'is-valid': f.submitted && medico.contrasena.invalid}" required>       
            </div>
              
            <div class="form-group">
                <label for="documentoMedico"><b>Documento Medico</b></label>
                <input type="number" name="documentoMedico" class="form-control" id="medicoDocumento" [(ngModel)] = medico.documentoMedico
                       #medicoDocumentoMedico="ngModel" [ngClass]="{'is-valid': f.submitted && medico.documentoMedico.invalid}" required>
            </div>
            
            <div class="form-group">
                <label for="Nomre"><b>Nombre</b></label>
                <input type="text" name="medicoNombre" class="form-control" id="medicoNombre" [(ngModel)] = medico.nombre
                       #medicoNombre="ngModel" [ngClass]="{'is-valid': f.submitted && medico.nombre.invalid}" required>
            </div>
              
<!--            <div class="form-group">
                <label  for="Especialidad"><b>Especialidad</b></label>
                <input type="text" name="medicoEspecialidad" class="form-control" id="medicoEspecialidad" [(ngModel)] = medico.especialidad
                      #medicoEspecialidad="ngModel" [ngClass]="{'is-valid': f.submitted && medico.especialidad.invalid}" required>
            </div>-->
              
            <div class="form-group">
                <label for="Descripcion"><b>Descripción</b></label>
                <input type="text" name="medicoDescripcion" class="form-control" id="medicoDescripcion" [(ngModel)] = medico.descripcion
                       #medicoDescripcion="ngModel" [ngClass]="{'is-valid': f.submitted && medico.descripcion.invalid}" required>
            </div>
              
            <div class="form-group">
                <label for="telefono"><b>Número Telefónico</b></label>
                <input type="number" name="telefono" class="form-control" id="medicoTelefono" [(ngModel)] = medico.telefono
                       #medicoDocumentoIdentidad="ngModel" [ngClass]="{'is-valid': f.submitted && medico.telefono.invalid}" required>
            </div>
              
            <div class="form-group">
                <label for="Correo"><b>Correo electrónico</b></label>
                <input type="text" name="medicoMail" class="form-control" id="medicoMail" [(ngModel)] = medico.correo
                       #medicoMail="ngModel" [ngClass]="{'is-valid': f.submitted && medico.mail.invalid}" required> 
            </div>
              
            <div class="form-group">
                <label for="Firma"><b>Firma</b></label>
                <input type="text" name="medicoFirma" class="form-control" id="medicoFirma" [(ngModel)] = medico.firma
                       #medicoFirma="ngModel" [ngClass]="{'is-valid': f.submitted && medico.firma.invalid}" required>
            </div>
            
            <div class="form-group">
                <label for="documentoIdentidad"><b>Documento de Identidad</b></label>
                <input type="number" name="tipo" class="form-control" id="medicoIdentidad" [(ngModel)] = medico.documentoIdentidad
                       #medicoDocumentoIdentidad="ngModel" [ngClass]="{'is-valid': f.submitted && medico.documentoIdentidad.invalid}" required>
            </div>
              
            <div class="form-group">
                <label for="TipoUsuario"><b>Tipo de Usuario</b></label>
                <input type="text" name="tipo" class="form-control" id="medicoTipo" [(ngModel)] = medico.tipoUsuario
                       #medicoTipoUsuario="ngModel" [ngClass]="{'is-valid': f.submitted && medico.tipoUsuario.invalid}" required>
            </div>
              
            <div class=" row form-inline justify-content-center aliign-self-center">
                <button type="submit" class="btn btn-primary">Create</button>   
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
</div>
